.messages-area {
  flex-direction: column;
  max-height:calc(100vh - 240px);
  margin-bottom: 25px;
  height: 100%;
  border-radius: 15px;
  padding: 15px;
  overflow-y: auto;
  border: 1px solid red;

    div {
      border: 1px solid #4649ff
    }
}

.input-area {
  display: flex;
}