.members-container {
  display: flex;
  flex-direction: column;

  //.creator-area {
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  margin-bottom: 20px;
  //
  //  .creator-avatar {
  //    height: 100px;
  //    width: 100px;
  //    border-radius: 50%;
  //    //border: 1px solid red;
  //    background-size: contain;
  //    background-repeat: no-repeat;
  //  }
  //}

  .members-area {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;

    .member {
      display: flex;
      align-items: center;
      padding: 10px;

      .avatar {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
      }

      //.name {
      //}

      .star-icon {
        align-self: flex-end;
        margin-left: 10px;
      }
    }
    margin-bottom: 20px;
  }

  .add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    //border: 1px solid red;
    align-self: center;
    transition: 0.3s;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 50%;
      &:hover {
        background-color: #8ad5f5;
      }
  }

}